NET "clk" TNM_NET = "clk";
TIMESPEC "TS_clk" = PERIOD "clk" 20 ns HIGH 50 %;
OFFSET = IN 25 ns BEFORE "clk"  ;
OFFSET = OUT 20 ns AFTER "clk"  ;
NET "addr_a<0>" LOC = "P3";
NET "addr_a<1>" LOC = "P4";
NET "addr_a<2>" LOC = "P5";
NET "addr_a<3>" LOC = "P6";
NET "addr_a<4>" LOC = "P7";
NET "addr_a<5>" LOC = "P9";
NET "addr_a<6>" LOC = "P10";
NET "addr_a<7>" LOC = "P11";
NET "addr_a<8>" LOC = "P12";
NET "addr_a<9>" LOC = "P13";
NET "addr_b<0>" LOC = "P125";
NET "addr_b<1>" LOC = "P126";
NET "addr_b<2>" LOC = "P127";
NET "addr_b<3>" LOC = "P128";
NET "addr_b<4>" LOC = "P130";
NET "addr_b<5>" LOC = "P131";
NET "addr_b<6>" LOC = "P132";
NET "addr_b<7>" LOC = "P133";
NET "addr_b<8>" LOC = "P139";
NET "addr_b<9>" LOC = "P140";
NET "data_a<0>" LOC = "P33";
NET "data_a<10>" LOC = "P49";
NET "data_a<11>" LOC = "P50";
NET "data_a<12>" LOC = "P52";
NET "data_a<13>" LOC = "P53";
NET "data_a<14>" LOC = "P56";
NET "data_a<15>" LOC = "P57";
NET "data_a<1>" LOC = "P34";
NET "data_a<2>" LOC = "P35";
NET "data_a<3>" LOC = "P36";
NET "data_a<4>" LOC = "P38";
NET "data_a<5>" LOC = "P39";
NET "data_a<6>" LOC = "P41";
NET "data_a<7>" LOC = "P42";
NET "data_a<8>" LOC = "P46";
NET "data_a<9>" LOC = "P47";
NET "data_b<0>" LOC = "P168";
NET "data_b<10>" LOC = "P188";
NET "data_b<11>" LOC = "P189";
NET "data_b<12>" LOC = "P191";
NET "data_b<13>" LOC = "P192";
NET "data_b<14>" LOC = "P193";
NET "data_b<15>" LOC = "P194";
NET "data_b<1>" LOC = "P169";
NET "data_b<2>" LOC = "P170";
NET "data_b<3>" LOC = "P171";
NET "data_b<4>" LOC = "P173";
NET "data_b<5>" LOC = "P174";
NET "data_b<6>" LOC = "P175";
NET "data_b<7>" LOC = "P176";
NET "data_b<8>" LOC = "P186";
NET "data_b<9>" LOC = "P187";
#PACE: Start of Constraints generated by PACE

#PACE: Start of PACE I/O Pin Assignments
NET "addr_a[0]"  LOC = "P3"  ; 
NET "addr_a[1]"  LOC = "P4"  ; 
NET "addr_a[2]"  LOC = "P5"  ; 
NET "addr_a[3]"  LOC = "P6"  ; 
NET "addr_a[4]"  LOC = "P7"  ; 
NET "addr_a[5]"  LOC = "P9"  ; 
NET "addr_a[6]"  LOC = "P10"  ; 
NET "addr_a[7]"  LOC = "P11"  ; 
NET "addr_a[8]"  LOC = "P12"  ; 
NET "addr_a[9]"  LOC = "P13"  ; 
NET "addr_b[0]"  LOC = "P125"  ; 
NET "addr_b[1]"  LOC = "P126"  ; 
NET "addr_b[2]"  LOC = "P127"  ; 
NET "addr_b[3]"  LOC = "P128"  ; 
NET "addr_b[4]"  LOC = "P130"  ; 
NET "addr_b[5]"  LOC = "P131"  ; 
NET "addr_b[6]"  LOC = "P132"  ; 
NET "addr_b[7]"  LOC = "P133"  ; 
NET "addr_b[8]"  LOC = "P139"  ; 
NET "addr_b[9]"  LOC = "P140"  ; 
NET "clk"  LOC = "P89"  ; 
NET "data_a[0]"  LOC = "P33"  ; 
NET "data_a[10]"  LOC = "P49"  ; 
NET "data_a[11]"  LOC = "P50"  ; 
NET "data_a[12]"  LOC = "P52"  ; 
NET "data_a[13]"  LOC = "P53"  ; 
NET "data_a[14]"  LOC = "P56"  ; 
NET "data_a[15]"  LOC = "P57"  ; 
NET "data_a[1]"  LOC = "P34"  ; 
NET "data_a[2]"  LOC = "P35"  ; 
NET "data_a[3]"  LOC = "P36"  ; 
NET "data_a[4]"  LOC = "P38"  ; 
NET "data_a[5]"  LOC = "P39"  ; 
NET "data_a[6]"  LOC = "P41"  ; 
NET "data_a[7]"  LOC = "P42"  ; 
NET "data_a[8]"  LOC = "P46"  ; 
NET "data_a[9]"  LOC = "P47"  ; 
NET "data_b[0]"  LOC = "P168"  ; 
NET "data_b[10]"  LOC = "P188"  ; 
NET "data_b[11]"  LOC = "P189"  ; 
NET "data_b[12]"  LOC = "P191"  ; 
NET "data_b[13]"  LOC = "P192"  ; 
NET "data_b[14]"  LOC = "P193"  ; 
NET "data_b[15]"  LOC = "P194"  ; 
NET "data_b[1]"  LOC = "P169"  ; 
NET "data_b[2]"  LOC = "P170"  ; 
NET "data_b[3]"  LOC = "P171"  ; 
NET "data_b[4]"  LOC = "P173"  ; 
NET "data_b[5]"  LOC = "P174"  ; 
NET "data_b[6]"  LOC = "P175"  ; 
NET "data_b[7]"  LOC = "P176"  ; 
NET "data_b[8]"  LOC = "P186"  ; 
NET "data_b[9]"  LOC = "P187"  ; 
NET "iRst_a"  LOC = "P97"  ;
NET "iRst_n"  LOC = "P237"  ; 
NET "oled1"  LOC = "P93"  ; 
NET "oled2"  LOC = "P94"  ; 
NET "oled3"  LOC = "P95"  ; 
NET "rd_a"  LOC = "P31"  ; 
NET "rd_b"  LOC = "P202"  ; 
NET "squarewave_a"  LOC = "P230"  ; 
NET "state_a"  LOC = "P96"  ; 
NET "we_a"  LOC = "P48"  ; 
NET "we_b"  LOC = "P201"  ; 
NET "xint2_b"  LOC = "P206"  ; 
NET "xzcs6_a"  LOC = "P84"  ; 
NET "xzcs6_b"  LOC = "P200"  ; 

#PACE: Start of PACE Area Constraints

#PACE: Start of PACE Prohibit Constraints

#PACE: End of Constraints generated by PACE
